NEXT_PUBLIC_SUPABASE_URL=https://nroyacasuchqniaiuirk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5yb3lhY2FzdWNocW5pYWl1aXJrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDY1MjkxNjYsImV4cCI6MjA2MjEwNTE2Nn0.7YqtGbIbj1-J2vqpgfHdpHZA8L3NpZOVJnOiRqLhRvg
